.Pager {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 20px;

  a.page {
    padding: 5px 10px;
    border: 1px solid #d1d1d1;
    background: #fff;

    &:first-child {
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
    }

    &:last-child {
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
    }
  }

  a.page.selected {
    color: #e87f36;
  }
}
